
:root{
    --button:rgb(76,181,249);
    --button-hover:rgb(76,181,249,0.75);
    --page-background:rgb(255,255,255);
    --text-normal:rgba(0, 0, 0, 0.75);
    --text-header:rgb(0,0,0,0.75);
    --text-button:rgb(255,255,255);
}